*~
*.db
*.user
*.dll
*.so
*.pro.autosave
base_override.h
.DS_Store

base-full/
base/
bass.lib

bin/
bins/
release/
debug/

.qmake.stash

Makefile*
object_script*
/Attorney_Online_remake_resource.rc
/attorney_online_remake_plugin_import.cpp

server/__pycache__
discord/

*.o
moc*
/Attorney_Online_CC_resource.rc
/attorney_online_cc_plugin_import.cpp
