*~
*.db
*.user
*.dll
*.so
*.pro.autosave
*.pro.user
base_override.h
.DS_Store

base-full/
logs/
bass.lib

bin/
bins/
build/
release/
debug/
base/background
base/characters
base/sounds
base/callwords.ini
base/config.ini

.qmake.stash

Makefile*
object_script*
/android/gradle*
/Attorney_Online_remake_resource.rc
/attorney_online_remake_plugin_import.cpp

server/__pycache__
discord/

*.o
moc*
/Attorney_Online_CC_resource.rc
/attorney_online_cc_plugin_import.cpp

*.autosave
