[Desktop Entry]
Type=Application
Name=Attorney Online
Comment=The courtroom drama simulator
Exec=AttorneyOnline.bin
Icon=AttorneyOnline
StartupWMClass=AttorneyOnline
Categories=Game;
