[Desktop Entry]
Type=Application
Name=Attorney Online
Comment=The courtroom drama simulator
Exec=Attorney_Online
Icon=Attorney_Online
Categories=Game;
